.aboutus-text {
    margin-top: 100px;
    text-align: center;
    height: 400px;

}

.aboutus-title {
    margin-top: 100px;
    margin-bottom: 100px;
    color: black;
}


.our-values {
    margin: 0 200px 0 200px;
    text-align: center;
}

.mission-vision {
    margin: 100px 200px 100px 200px;
    text-align: center;

}

.video-title {
    text-align: center;
}

.container-video {
    margin: 50px 0 0 0;!important;
}




@media only screen and (max-width: 767px) {

    .logo-mobile {
        width: 132px;
        height: 93px ;
    }

    .login-join {
        margin-right: 0;
    }

    .navigation {
        margin-bottom: 50px;
    }

    .our-values h2 {
        text-align: center !important;
    }

    .our-values {
        margin: 50px 0 0 0 !important;
        text-align: justify !important;
    }

    .mission-vision h2{
        text-align: center;
    }

    .mission-vision {
        margin: 50px 0 50px 0 !important;
        text-align: justify !important;

    }

    .container-video {
        margin: 40px 0 40px 0 !important;
    }


    .footer-homepage {
        margin-top: 50px;
    }

}


@media only screen and (max-width: 992px){

    .login-join {
        margin-right: 0;
    }

    .navigation {
        margin-bottom: 50px;
    }

    .our-values h2 {
        text-align: center;!important;
    }

    .our-values {
        margin: 50px 50px 0 50px;
        text-align: left;!important;
    }

    .mission-vision h2{
        text-align: center;
    }

    .mission-vision {
        margin: 100px 50px 100px 50px;
        text-align: left;!important;

    }

    .container-video {
        margin: 50px 0 0 0;!important;
    }

}

