
@media only screen and (max-width: 767px) {

    .iframe-quiz {
        width: 100%;
        height: auto;
    }




}


@media only screen and (max-width: 992px) {


}

.iframe-quiz {
    width: 900px;
    height: 900px;
    align: middle;
}