/*navigation*/

.logo {
    display: block;
    width:160px;
    max-width: 100%;
    max-height:119px;
    height: auto;
    padding-top: 0;
}

.button-hamburger {
    width: 60px;
    height: 60px;
}

.navbar-background {
    background-color: white;
}

#sofNav {
    margin-top: 25px;
    margin-bottom: 25px;
}

.image-logo {
    padding: 0 0 0 15px;!important;
}

#sofNav ul li a {
    color: black;
}

/*carousel*/

.container-carousel {
    height: auto;
    margin-top: 200px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-indicators li {
    border-color: black;
}

.carousel-indicators li.active {
    background-color: black;
}

.item-position p {
    line-height: 1.375em;
    margin: 170px 0;
}

.button-lower {
    margin-top: 50px;
}

/*counters*/

.counters-container {
    margin-right: 50px;
    margin-left: 50px;
}
#circle1 {
    position: relative;
    background-color: mediumaquamarine;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border-radius: 200px;
}

#circle2 {
    position: relative;
    background-color: midnightblue ;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border-radius: 200px;
}

#circle3 {
    position: relative;
    background-color: sandybrown ;
    margin: 20px auto;
    width: 300px;
    height: 300px;
    border-radius: 200px;
}

#text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

/*video*/

.video-title {
    text-align: center;
}

.container-video {
    margin: 50px 0 0 0;!important;
}

.video-centre {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
    height: auto;
}

/*three steps*/

.three-steps {
    text-align: center;
}

.three-steps-title {
   margin: 50px 0 50px 0;
}

.three-steps-item1 {
    padding-left: 40px;
    padding-right: 40px;
}

.three-steps-item2 {
    padding-left: 40px;
    padding-right: 40px;
}

.three-steps-item3 {
    padding-left: 40px;
    padding-right: 40px;
}


/*footer*/

.footer-homepage {
    background-color: deepskyblue;
    margin-top: 50px;
}

.footer-header {
    text-align: center;
    color: white;
}

.footer-email {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

}

.centered {
    text-align: center;
}
.social-list {
    border: 1px solid;
    height: 100px; !important;
    width: 100px; !important;
    margin-right: 80px;
    background-color: white;
    display:inline-block;
    float:none;
    text-align:left;
}

.footer-text-bottom {
    text-align: center;
}

.footer-lists {
    text-align: center;
    margin-bottom: 20px;
    color: black;!important;
}


.footer-list-item {
    border-right: 1px solid;
}

.footer-social-mobile {
    text-align: center;
    margin: 10px 0 10px 0;
}






@media only screen and (max-width: 767px) {

    .logo {
        width: 85px !important;
        height: 60px !important;
        margin-top: 10px;
    }

    .container-carousel {
        height: 300px;
    }

    .item-position p {
        margin: 70px 0;
    }

    .button-lower {
        margin-top: 50px;
    }

    .counters-container {
        margin-top: 0; !important;
        margin-right: 0;
        margin-left: 0;
    }

    #circle1 {
        width: 150px !important;
        height: 150px !important;
    }
    #circle2 {
        width: 150px !important;
        height: 150px !important;
    }

    #circle3 {
        width: 150px !important;
        height: 150px !important;
    }

    #text1 h1{
        font-size: 12px !important;

    }

    .container-video {
        margin: 40px 0 40px 0 !important;
    }

    .three-steps-title {
        margin: 25px 0 25px 0 !important;
    }

    .three-steps-content {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .three-steps-item2 {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .three-steps-item1 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }


    .three-steps-item3 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .footer-homepage {
        margin-top: 50px;
    }

    .footer-header h3{
        font-size: 18px;!important;
    }

    .video-centre {
        width: 100%;
    }

}


@media only screen and (max-width: 992px){

    .logo {
        width: 116px;
        height: 80px;
    }

    .container-carousel {
        height: 300px;
    }

    .item-position p {
        margin: 70px 0;
    }

    .counters-container {
        margin-top: 50px; !important;
        margin-right: 0;
        margin-left: 0;
    }

    #circle1 {
        width: 280px;
        height: 280px;
    }
    #circle2 {
        width: 280px;
        height: 280px;
    }

    #circle3 {
        width: 280px;
        height: 280px;
    }

    #text1 h1{
        font-size: 14px !important;

    }

    .container-video {
        margin: 50px 0 0 0 !important;
    }

    .video-centre {
        width: 100%;
    }

}

.button-size {
    width: 150px;
}