/*#question2, #question3, #question4, #question5, #question6, #question7 {*/
    /*display: none !important;*/
/*}*/

#question1, #question2, #question3, #question4, #question5, #question6, #question7 {
    width: 40%;
    text-align: center;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

#start-quiz {
    text-align: center;
}

.next-click {
    float: right;
}

.image-with-text {
    margin:1rem auto;
    position: relative;
}

.text-on-image {
    background:rgba(255,255,255,0.5);
    position: absolute;
    top:50%;
    left:50%;
    padding:1rem;
    transform:translateY(-50%);
    text-align: center;
}

.tips-calculator h2 {
    text-align: center;
}

.tips-calculator p {
    text-align: left;
}

.tips-leaf {
    color: #449d44;
}


.joinin-button {
    width: 20%;
}

.tips-joinin {
    text-align: center;
}

.facebook-share {
    text-align: center;
    margin-top: 10px;
}



@media only screen and (max-width: 767px) {
    #question1, #question2, #question3, #question4, #question5, #question6, #question7{
        width: 100%;



}